/* insert a background for whole page of a chosen color from a coolor generated palette*/
html { 
    background-color: #d3d0cb;
  }

/* adjusting background to the header bar */
header {
    box-sizing: border-box;
    height: auto;
    background-image: url("images/mountains.jpeg");
}

/* imported font form google, with palette chosen color and some spacing adjustments */
h1 {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 64px;
    text-align: center;
    height: fit-content;
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: -2%;
    color: #033f63;
}

/* another palette color for other titles, same font from google fonts */
h2,h3 {
    font-family: 'Reem Kufi Fun', sans-serif;
    text-align: center;
    color: #6E8898;
    font-size: 22px;
}

/* a different font from google, as the special line beneath my name */
h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 2%;
}

/* padding top make body text paragraphs stay inside the hr lines and look better*/
p, ul, ol {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 0 9%;
}

/* extra padding for the lists so their bullets or numbers do not stand further left than the nearby text */
ul, ol {
    line-height: 20px;
    padding: 0 15%;
}

/* a littl emore padding for articles to keep them centered away from the edges of the page*/
article {
    box-sizing: border-box;
    height: auto;
    padding: 0 10%;
}

/* another color from the palette for the hr lines. originally included a specification of bottom margin to make the line come in contact with the footer box, but ultimatley removed it in favor of standard hr margin before the footer box */
hr {
    border-color: #9FB1BC;
    width: 65%;
}

/* had a bit of difficulty here, but ultimatley with a little research was able to center the images here, so they also adjust their margin relitive to each other depending on thew width of the page */
.centered {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.sized {
    max-height: 100px;
    width: auto;
}

img {
    align-items: center;
}

/* another point of difficulty, but eventually managed to work around the corners of the rotated image. the original photo is a bit to the side as a phoptographer's choice, in a more ideal circumstance i would have editied the photo prior to embedding it on the site */
.img-circle {
      border-radius: 50%;
      rotate: -17deg; 
      margin-left: -10%;
      margin-right: -7%;
}

/* LINK styles and BUTTON designs */
a {
    font-family: arial, sans-serif;
    text-decoration: none;
    text-align: center;
}

.buttons {
    text-align: center;
}

/* styled links using pseudo-classes */
a:link    { color: rgb(27, 99, 232);  }
a:visited { color: #3e69aa;}
a:hover   { color: rgb(16, 53, 133); }
a:active  { color: rgb(75, 39, 235);  }
a:hover {
	text-decoration: underline;	
}

.btn {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 16px;
    text-align: justify;
    text-decoration: none;
    margin: 10px;
    padding: 6px 12px;
    border-radius: 6px;
  }

.btn-contact {
    font-size: 18px;
}
  
.btn-linkedin {
    color: #144aa0;
    background-color: #e2c044;
    border-color: #e2c044;;
}

.btn-github {
    color: #144aa0;
    background-color: #e2c044;
    border-color: #e2c044;
}

.btn-email {
    color: #fff;
    background-color: #e2c044;
    border-color: #e2c044;
}

/* email link styled differently */
a[href^="mailto:"] {
    text-decoration: none;
    color: rgb(27, 99, 232);
    background-color: none;
}

footer {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: center;
    height: auto;
    line-height: 14px;
    padding: 2px;
    background-color: #9FB1BC;
}

.bear {
    color: #033f63;
    padding-top: 1%;
    padding-top: 1%;
    max-block-size: 50px;
    align-self: center;
} 
